.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header__container{
    background: linear-gradient(to bottom, var(--dark-brown-100), var(--dark-brown-0));
    height: 70px;
}

.header__content{
    max-width: var(--box-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}