.hero-section {
  background: linear-gradient(
    to bottom,
    var(--beige-100),
    var(--dark-brown-100)
  );
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.hero-section__video-bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(
      to top,
      var(--dark-brown-100),
      var(--dark-brown-0)
    );
    z-index: 1;
  }
}

.hero-section__video-bg-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--brown-50);
  z-index: 1;
}

.hero-section__content {
  position: relative;
  padding-block: 70px;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 20px;
}

.hero-cta-button {
  background: var(--beige-100);
  color: var(--dark-brown-100);
  padding: 10px 20px 7px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.2s ease;

  &:hover {
    background: var(--orange-100);
    color: var(--beige-100);
  }
}

.hero-section__headliner-container {
  max-width: 500px;
  width: 100%;
  position: relative;
  display: block;

  svg {
    width: 100%;
    height: auto;
    display: block;
  }

  .headliner-group {
    g {
      opacity: 0;
    }
  }
}

.hero-section__content-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    opacity: 0;
    transform: translateY(-50px);
    max-width: 250px;
    width: 100%;
  }
  p {
    opacity: 0;
    transform: translateY(-20px);
    color: var(--beige-100);
    font-weight: 600;
    font-size: 18px;
    margin: 10px auto 20px;
  }
}

.hero-section__logo_disc-group{
  transform-origin: left center;
  transform-box: content-box;
  transform: translateX(1px) scaleX(0);
}

.hero-section__logo_text-group{
  transform-origin: top center;
  transform-box: content-box;
  opacity: 0;
  transform: translateY(-20px) scaleY(0);
}


.about-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-section__content {
  color: var(--beige-100);
}

.about-section__content-main {
  margin-bottom: 100px;
  text-align: center;

  p {
    font-size: 1.3rem;
  }
}

.about-section__content-secondary {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
  align-items: center;
}

.about-section__content-secondary-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;

  p {
    span {
      &.text-big{
        font-size: 20px;
        font-weight: bold;

      }
      &.text-orange {
        color: var(--orange-100);
      }
    }
  }

  .featured-text {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    // gap: 10px;
    p {
      margin: 0;
      font-weight: 300;
      font-size: 20px;
      color: var(--beige-100);
    }
  }

  img {
    object-fit: cover;
    object-position: top;
    border-radius: 30px;
    width: 100%;
    max-height: 400px;
  }
}

.artists-section {
  position: relative;
  overflow: hidden;
  background: var(--brown-100);
  padding-block: 60px;
}

.location-section {
  position: relative;
  display: block;
  iframe {
    filter: grayscale(1);
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    border: 0;
  }
}

.artists-section__artists-list {
  display: flex;
  flex-wrap: wrap;

  gap: 25px;
}

.artists-section__artist-item {
  width: calc(100% / 4 - 25px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;

  h3 {
    color: var(--beige-100);
  }
}

.artists-section__artist-item-img {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background: var(--beige-80);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    display: block;
    border: 5px solid var(--dark-brown-100);
    border-radius: 20px;
  }
}

.tickets-section {
  padding-block: 100px 120px;
}

.tickets-section__ticket-item-details{
  ul{
    list-style-position: inside;
    list-style-type: disc;
    
    li {
      &::marker {
        color: var(--brown-100);
      }
    }
  }
}

.partners-section {
  padding-top:50px;
  padding-bottom: 120px;
}

.faq-section__content {
  position: relative;
  display: block;
}

.faq-section__accordion-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-section__accordion-item {
  background: var(--beige-100);
  border-radius: 30px;
  padding-inline: 20px;
  color: var(--dark-brown-100);
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.faq-section__accordion-heading {
  padding: 20px 20px;
}
.faq-section__accordion-content {
  color: var(--dark-brown-100);
  z-index: 1;

  padding-inline: 20px;
  overflow: hidden;
  transition: 0.3s ease;
}

.tickets-section__tickets-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.tickets-section__ticket-item {
  width: calc(100% / 4 - 25px);
  background: var(--beige-100);
  border-radius: 30px;
  padding: 20px 20px;
}

.tickets-section__ticket-item-icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  svg {
    width: 60px;
    height: 60px;
    fill: var(--orange-100);
  }
  span{
    margin-top: 10px;
    font-weight: bold;
    color: var(--orange-100);
  }
}

.tickets-section__ticket-item-cta {
  width: 100%;
  border-radius: 20px;
  background: var(--orange-100);
  color: var(--beige-100);
  text-decoration: none;
  padding: 10px 20px 7px;
  margin-top: 16px;
  display: block;
  font-weight: bold;
  text-align: center;
  position: relative;
  transition: 0.2s ease;

  &.disabled {
    background: var(--brown-100);
    color: var(--beige-50);
    cursor: not-allowed;
  }

  &:hover {
    background: var(--brown-100);
  }
}

.tickets-section__ticket-item-title {
  color: var(--dark-brown-100);
}

.tickets-section__ticket-item-price {
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: baseline;

  h2 {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--dark-brown-100);
  }

  p {
    color: var(--dark-brown-100);
    text-decoration: line-through;
  }
}

.contact-section__content-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
}

.contact-section__info-container {
  flex: 1;
}

.contact-section__form-container {
  flex: 1;
  background: var(--beige-100);
  border-radius: 30px;
  padding: 45px 30px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 20px;

  & > div {
    flex: 1;
  }
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    color: var(--dark-brown-100);
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--dark-brown-100);
    background: #ffffff;
    color: var(--dark-brown-100);
    outline: none;
    font-family: "Roboto", sans-serif;
  }

  textarea {
    resize: none;
    min-height: 150px;
  }
}

.form-checkbox-container {
  input {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
    accent-color: var(--orange-100);
  }
  label {
    color: var(--dark-brown-100);
  }
  a {
    color: var(--orange-100);
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
    &:hover {
      color: var(--dark-brown-100);
    }
  }
}

.form-submit-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    width: 100%;
    outline: none;
    border: none;
    background: var(--orange-100);
    color: var(--beige-100);
    padding: 10px 20px 7px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;

    &:hover {
      background: var(--dark-brown-100);
    }
  }
}

.contact-section__info-content {
  display: flex;
  flex-direction: column;
  color: var(--beige-100);
  gap: 15px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-details__item {
  a {
    color: var(--beige-100);
    text-decoration: none;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s ease;

    &:hover {
      color: var(--orange-100);
    }

    svg {
      fill: var(--orange-100);
      width: 24px;
      height: 24px;
    }
  }
}

.media-section__gallery,
.tickets-section__buy {
  color: var(--beige-100);
  h3 {
    text-align: center;
  }
  img {
    display: block;
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
  }
}

.contact-map-mobile {
  display: none;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 300px;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.contact-map {
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  height: 300px;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.form-notice {
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0 20px;
  height: 0px;
  width: 100%;
  transition: 0.3s ease;
  color: var(--dark-brown-100);
  font-weight: bold;

  &.success {
    border: 1px solid #157759;
    background: #a2fdd9;
    border-radius: 10px;
  }
  &.error {
    border: 1px solid #7b0000;
    background: #fd7f64;
    border-radius: 10px;
  }
}
.form-notice-success,
.form-notice-error {
  display: none;
}

.partners-section__partners-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.partners-section__partner-item{
  width: calc(100% / 6 - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    filter: grayscale(1);
  }
}


.map-section{
  margin-bottom: 100px;
}
.party-map{
  max-width: 1000px;
  width: 100%;
  display: block;
  margin: 0 auto 50px;
}


.party-map__button{
  cursor: pointer;
  transition: 0.2s ease;
  transform-box: fill-box;
  transform-origin: bottom center;

  &:hover {
    transform: scale(1.1);
  }

}

.map-section__legend-list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

}
.map-section__legend-item{
  width: calc(100% / 4 - 25px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--beige-100);
  font-weight: 600;
  font-size: 18px;
}

.map-section__legend-item-color{
  border-radius: 10px;
  width: 65px;
  height: 40px;
}


.modal__map-info{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: none;
  opacity: 0;
  backdrop-filter: blur(10px);

  justify-content: center;
  align-items: center;
  z-index: 998;
  padding-top: 80px;

}

.modal_map-info-box{
  opacity: 0;
  transform: translateY(50px);
  background: var(--beige-100);
  border-radius: 30px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  height: max-content;
  max-height: calc(100dvh - 80px - 60px);
  overflow-y: auto;
  position: relative;
}
.modal_map-info__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    color: var(--dark-brown-100);
   
    font-weight: bold;
  }
}
.modal_map-info__close{
  background: none;
  border: none;
  outline: none;
  svg{
    width: 30px;
    height: 30px;
    fill: var(--dark-brown-100);
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      fill: var(--orange-100);
    }
  }
}

.artists-section__background-overlay{
  position: absolute;
  top:15px;
  right: -15vw;
  max-width: 65vw;
  width: 100%;
  display: block;
  opacity: 0.2;
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}